<div class="container">
  <form autocomplete="off" #lancamentoForm="ngForm">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Novo lançamento</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton [options]="tipos" name="tipo" #tipo="ngModel" ngModel required></p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Vencimento</label>
        <p-calendar name="vencimento" ngModel #vencimento="ngModel" required dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="true" [showIcon]="true"></p-calendar>
        <!--<app-message [control]="vencimento" error="required" text="Informe uma data de vencimento"></app-message>-->
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
      <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento'}}</label>
        <p-calendar dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="true" [showIcon]="true"></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao" ngModel #descricao="ngModel" required minlength="5">
        <!--<app-message [control]="descricao" error="required" text="Informe uma descrição"></app-message>
        <app-message [control]="descricao" error="minlength" text="Mínimo de {{descricao.errors?.minlength?.requiredLength}} caracteres"></app-message>-->

      <!--<div class="ui-message ui-messages-error" *ngIf="descricao.hasError('minlength') && descricao.dirty">
          Mínimo de {{descricao.errors.minlength.requiredLength}} caracteres
        </div>-->
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <input pInputText type="text" name="valor" ngModel #valor="ngModel" required placeholder="0,00" currencyMask
        [options]="{prefix: '', thousands: '.' , decimal: ',' , allowNegative: false}">
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Categoria</label>
        <p-dropdown name="categoria" ngModel #categoria="ngModel" required [options]="categorias" placeholder="Selecione"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Pessoa</label>
        <p-dropdown name="pessoa" ngModel #pessoa="ngModel" required [options]="pessoas" placeholder="Selecione"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea pInputTextarea></textarea>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="!lancamentoForm.valid"></button>
        <button pButton type="button" class="ui-button-info" label="Novo"></button>
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>

